.cart {
  width: fit-content;
  flex-direction: row;
  flex-wrap: wrap;

  .checkout-info {
    min-width: 250px;

    input {
      padding: 10px;
    }
  }
}

::ng-deep {
  .product {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
  }
}