header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;

    &:active,
    &:visited {
      color: inherit;
    }
  }

  h1 {
    font-family: cursive;
  }

  .pages {
    display: flex;
    gap: 20px;
    
    .tab {
      padding: 10px;
      background: #dfe2e7;
      border-radius: 5px;
    }
  }

  .cart-icon {
    position: relative;

    .count {
      position: absolute;
      top: -7px;
      right: -8px;
      border-radius: 50%;
      background: crimson;
      color: #fff;
      display: inline-grid;
      place-items: center;
      line-height: 1;
      padding: 5px 8px 4px;
    }
  }
}