/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  background: #F0F2F5;
  color: #1c1e21;
}

app-root {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  min-height:50px;
}
#content {
  flex: 1;
}

header,
#content,
footer {
  padding: 10px 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}

.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #fff;
  padding: 10px;
  box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
  border-radius: 12px;
}

button {
  width: 40px;
  height: 40px;
  cursor: pointer;
}